node-red-flow.json
[{"id":"eb53ce10.f2976","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"98f7956b.cd51f8","type":"inject","z":"eb53ce10.f2976","name":"","topic":"sensors/sensor1","payload":" On","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["6ac78f0.ab88f7"]]},{"id":"e42b9e49.e8424","type":"inject","z":"eb53ce10.f2976","name":"","topic":"Sensors/sensor2","payload":" ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["c8671642.e200a8"]]},{"id":"7f9ae618.f33958","type":"inject","z":"eb53ce10.f2976","name":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["9d694d44.198b1"]]},{"id":"95822413.a0d2c8","type":"inject","z":"eb53ce10.f2976","name":"","topic":"sensore/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["422568b0.4c97b8"]]},{"id":"dc0aa270.17749","type":"debug","z":"eb53ce10.f2976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":80,"wires":[]},{"id":"668fd4ba.414f5c","type":"debug","z":"eb53ce10.f2976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":160,"wires":[]},{"id":"9cce85eb.7daa18","type":"debug","z":"eb53ce10.f2976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":280,"wires":[]},{"id":"1c65e700.46f579","type":"debug","z":"eb53ce10.f2976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":360,"wires":[]},{"id":"6ac78f0.ab88f7","type":"function","z":"eb53ce10.f2976","name":"Function 1","func":"var count = context.get('count') || 0;\ncount+=1;\nmsg.payload = \"F1\" +msg.payload+ \"  \"+count;\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["dc0aa270.17749"]]},{"id":"c8671642.e200a8","type":"function","z":"eb53ce10.f2976","name":"Function 2","func":"var count = context.get('count') || 0;\ncount +=1;\nmsg.payload = \"F2 \" +msg.payload+ \" \"+count;\ncontext.set('count', count);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["668fd4ba.414f5c"]]},{"id":"9d694d44.198b1","type":"function","z":"eb53ce10.f2976","name":"Multiple variables","func":"var count = context.get('count') || 0;\nvar count2 = context.get('count2') || 0;\n\ncount +=1;\ncount2 +=2;\n\nmsg.payload = \"F3 \"+msg.payload+ \" \"+count + \" \"+count2;\ncontext.set('count', count);\ncontext.set('count2', count2);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["9cce85eb.7daa18"]]},{"id":"422568b0.4c97b8","type":"function","z":"eb53ce10.f2976","name":"Uses Object","func":"var local = context.get('data') || {};\nif(local.count === undefined)// text exixts\n{\n    local.count =0;\n}\nlocal.count +=1;\nmsg.payload = \"F4 \" +msg.payload+ \" \"+local.count;\ncontext.set('data', local);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["1c65e700.46f579"]]},{"id":"cf281a18.f88598","type":"inject","z":"eb53ce10.f2976","name":"","topic":"sensore/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["36ac6d32.8f2e92"]]},{"id":"36ac6d32.8f2e92","type":"function","z":"eb53ce10.f2976","name":"With Flow","func":"//var count = context.get('count') || 0;\nvar count = flow.get('count') || 0;\n\ncount+=1;\nmsg.payload =\"F5 \"+msg.payload+\" \"+count;\nflow.set('count', count);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["66383038.4e3d8"]]},{"id":"66383038.4e3d8","type":"debug","z":"eb53ce10.f2976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":440,"wires":[]},{"id":"9311cd4.264b83","type":"inject","z":"eb53ce10.f2976","name":"","topic":"sensore/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":500,"wires":[["ba446780.2230e8"]]},{"id":"ba446780.2230e8","type":"function","z":"eb53ce10.f2976","name":"With Flow","func":"//var count = context.get('count') || 0;\nvar count = flow.get('count') || 0;\n\ncount+=2;\nmsg.payload =\"F6 \"+msg.payload+\" \"+count;\nflow.set('count', count);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":540,"wires":[["825ca441.aeb9c8"]]},{"id":"825ca441.aeb9c8","type":"debug","z":"eb53ce10.f2976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":540,"wires":[]},{"id":"af359357.87f9b","type":"inject","z":"eb53ce10.f2976","name":"","topic":"sensore/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":620,"wires":[["32e616c4.cc80da"]]},{"id":"32e616c4.cc80da","type":"function","z":"eb53ce10.f2976","name":"With Global","func":"//var count = context.get('count') || 0;\nvar count = flow.get('count') || 0;\nvar gcount = global.get('count') || 0;\n\ncount+=1;\nmsg.payload =\"F10 \" +\"Flow=\" +count+ \"global= \"+gcount;\nflow.set('count', count);\nglobal.set('count', gcount);\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":640,"wires":[["20bd69eb.5ecb76"]]},{"id":"20bd69eb.5ecb76","type":"debug","z":"eb53ce10.f2976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":640,"wires":[]}]
